sourceCode/onlinequizsystem/schemas/errorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd4"
	 targetNamespace="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd4"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="error" type="errorMessagetype"/>
	<xs:complexType name="errorMessagetype">
		<xs:sequence>
			<xs:element ref="errorMessage"/>
			<xs:element ref="errorCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="errorMessage" type="xs:string"/>
	<xs:element name="errorCode" type="xs:string"/>
</xs:schema>