sourceCode/onlinequizsystem/schemas/quizDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd9"
	 xmlns:ns0="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd8"
	 targetNamespace="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd9"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd8" schemaLocation="quizDetails.xsd"/>
	<xs:element name="QuizDetailsResponse" type="QuizDetailsResponseType"/>
	<xs:complexType name="QuizDetailsResponseType">
		<xs:sequence>
			<xs:element ref="responseCode"/>
			<xs:element ref="ns0:quizDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="responseCode" type="xs:string"/>
</xs:schema>