sourceCode/onlinequizsystem/schemas/registerzQuiz.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd15"
	 targetNamespace="http://www.tibco.com/schemas/onlinequizsystem/schemas/Schema.xsd15"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="registerQuiz" type="registerQuizType"/>
	<xs:complexType name="registerQuizType">
		<xs:sequence>
			<xs:element ref="quizID"/>
			<xs:element ref="userID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="quizID" type="xs:string"/>
	<xs:element name="userID" type="xs:string"/>
</xs:schema>